/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Grid layout */

ul#images li {
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
    margin: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 10px;
}

ul#images li button {
    display: inline-block;
}

--- End of grid layout styles. */

ul#images {
    list-style-type: none;
}

ul#images.placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}













